@import "../../../../../src/dims";

.float-panel {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2000;
	&.react-draggable-dragging .drag-handle {
		cursor: grabbing;
	}

	.visible {
		visibility: visible
	}

	.invisible {
		visibility: hidden
	}
	.drag-handle, .tabs button {
		margin: 4px;
		padding: 0;
	}

	.drag-handle {
		// padding: $space;
		height: $menu-item-dim;
		width: $menu-item-dim;
		position: absolute;
		top: 0;
		left: 0;
		cursor: grab;
	}
}





