.application {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #000000bb;
}

.modal-content {
  margin: 0 auto;
}

.hasPointer {
  cursor: pointer;
}

.edit-dialog, .about {
  width: 1024px;
}

@media (max-width: 1128px) {
  .edit-dialog, .about {
    width: 90%;
  }
}

@media (max-width: 512px) {
  .edit-dialog, .about {
    width: 100%;
  }
}

