input.file-upload {
  border: none;
  display: none;
}

.drop-zone {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.upload-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.upload-control button {
  margin: 8px auto;
}