.top-navigation {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.top-navigation h1 {
  font-size: 1em;
  line-height: 2;
  margin: 0;
  font-weight: 500;
  flex-grow: 1;
  text-align: center;
  padding-right: 0.5em;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item-title {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
